.masthead {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  // padding-top: 8rem;
  // padding-bottom: 8rem;
  // background: linear-gradient(90deg, fade-out($white, 0.9) 0%, fade-out($white, 0.9) 100%), url('../img/bg-masthead.jpg');
  background: linear-gradient(90deg, fade-out($white, 0.9) 0%, fade-out($white, 0.9) 100%);
  background-color: #ffc107;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
    font-weight: 300;
  }
  .tw-myname span:hover {
    background-color: #1d809f;
    color: white;
    transition: 0.3s;
    padding: 10px;
  }
  .tw-myname span {
    color: white;
    transition: 0.3s;
  }
  .tw-ireland span {
    transition: 0.3s;
  }
  .tw-ireland span a {
    text-decoration: none;
    color: $black;
  }
  .tw-ireland span a:hover{
    background-color: #28a745;
    color: white;
    transition: 0.3s;
  }
 


  @media (min-width: 992px) {
    height: 100vh;
    h1 {
      font-size: 5.5rem;
    }
  }
}