.masthead {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  // padding-top: 8rem;
  // padding-bottom: 8rem;
  // background: linear-gradient(90deg, fade-out($white, 0.9) 0%, fade-out($white, 0.9) 100%), url('../img/bg-masthead.jpg');
  background: linear-gradient(90deg, fade-out($white, 0.9) 0%, fade-out($white, 0.9) 100%);
  // background-color: #ffc107;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
    font-weight: 300;
  }
  span.tw-t:hover {
    background-color: #28a745;
    color: white;
    transition: 0.3s;
  }
  span.tw-o:hover {
    background-color: #17a2b8;
    color: white;
    transition: 0.3s;
  }
  span.tw-n:hover {
    background-color:#007bff;
    color: white;
    transition: 0.3s;
  } 
  span.tw-y:hover {
    background-color: #6c757d;
    color: white;
    transition: 0.3s;
  }
  span.tw-w:hover {
    background-color: #28a745;
    color: white;
    transition: 0.3s;
  }
  span.tw-a:hover {
    background-color: #dc3545;
    color: white;
    transition: 0.3s;
  }
  span.tw-tt:hover {
    background-color:#28a745;
    color: white;
    transition: 0.3s;
  } 
  span.tw-t:hover {
    background-color: #563d7c;
    color: white;
    transition: 0.3s;
  }
  span.tw-e:hover {
    background-color:#007bff;
    color: white;
    transition: 0.3s;
  } 
  span.tw-r:hover {
    background-color: #ffc107;
    color: white;
    transition: 0.3s;
  }
  span.tw-s:hover {
    background-color: #6c757d;
    color: white;
    transition: 0.3s;
  }

  .tw-myname span {
    color: #000000;
    transition: 0.3s;
  }
  .tw-ireland {
    width: 80%;
    margin: 0 auto;
  }
  .tw-ireland span {
    transition: 0.3s;
  }
  .tw-ireland span a {
    text-decoration: none;
    color: $black;
  }
  .tw-ireland span a:hover{
    background-color: #28a745;
    color: white;
    transition: 0.3s;
  }
  .tw-logo-design {
   
    background: linear-gradient(90deg, fade-out($white, 0.9) 0%, fade-out($white, 0.9) 100%), url('../img/watters-header.png');
  
  }

  @media (min-width: 992px) {
    height: 100vh;
    h1 {
      font-size: 5.5rem;
    }
  }
}