.masthead {
  padding-top: 20px;
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: linear-gradient(90deg, fade-out($white, 0.9) 0%, fade-out($white, 0.9) 100%), url('../img/responsive/mobile.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;

  .tw-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .tw-image{
    border-radius: 50%;
    width: 60px;
  }

  h1 {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
  }
  h3.tw-ireland{
    width: 50%;
   }
   h3 {
     font-size: 0.9em;

   }
  span.tw-t:hover {
    background-color: #28a745;
    color: white;
    transition: 0.3s;
  }
  span.tw-o:hover {
    background-color: #17a2b8;
    color: white;
    transition: 0.3s;
  }
  span.tw-n:hover {
    background-color:#007bff;
    color: white;
    transition: 0.3s;
  } 
  span.tw-y:hover {
    background-color: #6c757d;
    color: white;
    transition: 0.3s;
  }
  span.tw-w:hover {
    background-color: #28a745;
    color: white;
    transition: 0.3s;
  }
  span.tw-a:hover {
    background-color: #dc3545;
    color: white;
    transition: 0.3s;
  }
  span.tw-tt:hover {
    background-color:#28a745;
    color: white;
    transition: 0.3s;
  } 
  span.tw-t:hover {
    background-color: #563d7c;
    color: white;
    transition: 0.3s;
  }
  span.tw-e:hover {
    background-color:#007bff;
    color: white;
    transition: 0.3s;
  } 
  span.tw-r:hover {
    background-color: #ffc107;
    color: white;
    transition: 0.3s;
  }
  span.tw-s:hover {
    background-color: #6c757d;
    color: white;
    transition: 0.3s;
  }

  .tw-myname span {
    color: #000000;
    transition: 0.3s;
  }
  .tw-ireland {
    width: 80%;
    margin: 0 auto;
  }
  .tw-ireland span {
    transition: 0.3s;
  }
  .tw-ireland span a {
    text-decoration: underline;
    color: $black;
  }
  .tw-ireland span a:hover{
    background-color: #28a745;
    color: white;
    transition: 0.3s;
  }
  .tw-logo-design {
    background: linear-gradient(90deg, fade-out($white, 0.9) 0%, fade-out($white, 0.9) 100%), url('../img/watters-header.png');
  }

  .social {
    padding: 20px 0;
    .social-link {
      display: block;
      height: 3.5rem;
      width: 3.5rem;
      line-height: 3.7rem;
      font-size: 1.2rem;
      background-color: $primary;
      transition: background-color 0.15s ease-in-out;
      box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
      &:hover {
        background-color: darken($primary, 10%);
        text-decoration: none;
      }
    }
  }

  @media (min-width: 992px) {
    height: 100vh;
    h1 {
      font-size: 4rem;
      padding-top: 0px;
    }
  }
}

@media (min-width: 480px) {
  .masthead {
    min-height: 30rem;
    position: relative;
    display: table;
    width: 100%;
    height: auto;
    // padding-top: 8rem;
    // padding-bottom: 8rem;
    background: linear-gradient(90deg, fade-out($white, 0.9) 0%, fade-out($white, 0.9) 100%), url('../img/responsive/ipad.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;

    h1 {
      font-size: 1.5rem;
      margin: 0;
      padding: 0;
    }
    h3.tw-ireland{
      width: 50%;
     }
     h3{
     font-size: 1em;
     }
    .tw-image{
      border-radius: 50%;
      width: 60px;
    }
  }
}

@media (min-width: 1024px) {
  .masthead {
    min-height: 30rem;
    position: relative;
    display: table;
    width: 100%;
    height: auto;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background: linear-gradient(90deg, fade-out($white, 0.9) 0%, fade-out($white, 0.9) 100%), url('../img/responsive/desktop.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;

    h1 {
      font-size: 2.5rem;
      margin: 0;
      padding: 0;
    }
    h3.tw-ireland{
     width: 60%;
    }
    .tw-image{
      border-radius: 50%;
      width: 100px;
    }
  }
}

.tw-header-room {
  padding: 50px 0;

}